@charset "utf-8";

/*----	Body Elements	----*/
*{ border:0; box-sizing:border-box; margin:0; padding:0; }
::selection{ background:#40BBE1; color:#FFF; text-shadow:none; }
a, abbr, address, blockquote, body, caption, cite, code, del, dfn, div, dd, dl, dt, em, fieldset, form, h1, h2, h3, h4, h5, h6, html, iframe, img, ins, label, legend, li, object, ol, p, pre, q, small, span, strong, sub, sup, table, tbody, tfoot, thead, ul { border:0; margin:0; padding:0; }
article, aside, figcaption, figure, figure img, footer, header, nav, object, section, video{ display:block; }
div{ display:block; }
i, cite, em, var, address, dfn{ font-style:italic; }
video{ object-fit:contain; }
h1{ display:block; font-size:2em; font-weight:bold; -webkit-margin-before:0.67em; -webkit-margin-after:0.67em; -webkit-margin-start:0px; -webkit-margin-end:0px; }
h2{ display:block; font-size:1.5em; font-weight:bold; -webkit-margin-before:0.83em; -webkit-margin-after:0.83em; -webkit-margin-start:0px; -webkit-margin-end:0px; }
h3{ display:block; font-size:1.17em; font-weight:bold; -webkit-margin-before:1em; -webkit-margin-after:1em; -webkit-margin-start:0px; -webkit-margin-end:0px; }
h1, h2, h3, h4, h5, h6{ font-weight:400; }
p{ display:block; -webkit-margin-before:1em; -webkit-margin-after:1em; -webkit-margin-start:0px; -webkit-margin-end:0px; }
a{ background:transparent; color:#0073BD; outline:0; text-decoration:none; -webkit-transition:color .15s ease-out; -moz-transition:color .15s ease-out; -ms-transition:color .15s ease-out; -o-transition:color .15s ease-out; transition:color .15s ease-out; }
a:active, a:visited{ outline:0; text-decoration:none; }
ul, menu, dir{ display:block; list-style-type:disc; -webkit-margin-before:1em; -webkit-margin-after:1em; -webkit-margin-start:0px; -webkit-margin-end:0px; -webkit-padding-start:40px; }
ul, ol{ margin-bottom: 15px; margin-top: 0; padding-left: 25px; }
ul ul:last-child, ul ol:last-child, ol ul:last-child, ol ol:last-child{ margin-bottom: 0; }
li{ display:list-item; text-align:-webkit-match-parent; }
button, input, select, textarea{ font-family:inherit; font-size:100%; margin:0; }
button, input{ line-height:normal; }
input[type="checkbox"], input[type="radio"]{ box-sizing: border-box; padding: 0; }
label, input, textarea, select, input[type="radio"], input[type="checkbox"], .input-prefix, .input-suffix{ line-height: normal; }
label{ display: block; padding-bottom: 8px; padding-top: 9px; }
figure{ margin: 0; }
svg:not(:root){ overflow:hidden; }
table{ border-collapse: collapse; border-spacing: 0; max-width: 100%; }
th{ text-align: left; }
html{ display:block; font-family:'PlusJakartaSans', 'Roboto',sans-serif; font-size:100%; -webkit-locale:"en"; -webkit-tap-highlight-color:transparent; }
head{ display:none; }
body{ background-color:#FFF; border:0; box-sizing:border-box; color:#222222; display:block; font-size:14px; line-height:1.43; margin:0; padding:0; -webkit-font-smoothing:antialiased; }
#body_wrapp{ border:0; margin:0; overflow:hidden; padding:0; position:relative; width:100%; }
.error{ color: #FD5D6B; text-align: center; }
.success{ color: green; text-align: center; }
.show{ display:block !important; }
.hide{ display:none !important; visibility: hidden; }
.show_sm{ display:none !important; }
.unselectable{ user-select:none; }

/*----Background---*/
.bg-white{ background-color: #FFF; }

/*----Table----*/
.table{ border-collapse: separate; margin-bottom: 15px; width: 100%; }
.table>thead>tr>th, .table>thead>tr>td, .table>tbody>tr>th, .table>tbody>tr>td, .table>tfoot>tr>th, .table>tfoot>tr>td{ border-top: 1px solid #DCE0E0; padding: 8px; vertical-align: top; }
.table>thead>tr>th{ vertical-align: bottom; }
.table>colgroup+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+tbody>tr:first-child>th, .table>colgroup+tbody>tr:first-child>td, .table>thead:first-child>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>tbody:first-child>tr:first-child>th, .table>tbody:first-child>tr:first-child>td{ border-top: 0; }
.th-center th {text-align: center;}
/*----	Popup boxes	----*/
.modal, .modal_container{ background-color:rgba(0,0,0,.75); bottom:0; display:none; left:0; opacity:0; overflow-y:auto; position:fixed; right:0; top:0; transition:opacity .2s; z-index:2000; }
.modal.show, .modal_container.show{ display:block !important; opacity:1; }
.modal[aria-hidden="false"]{ opacity: 1; }
.modal_table{ display:table; height:100%; table-layout:fixed; width:100%; }
.modal_cell{ display:table-cell; height:100%; padding:50px; vertical-align:middle; width:100%; }
.modal_content{ background-color:#FFF; border-radius:2px; margin-left:auto; margin-right:auto; max-width:520px; min-width:475px; overflow-x: hidden; overflow-y: auto; position:relative; }
.modal_content_wide{ background-color:#FFF; border-radius:6px; margin-left:auto; margin-right:auto; max-width:80vw; min-width:475px; overflow-x: hidden; overflow-y: auto; position:relative; }
.panel{ background-color:#FFF; border:1px solid #DCE0E0; border-radius:0; }
.panel_header, .panel_body, ul.panel_body > li, ol.panel_body > li, .panel_footer{ border-top:1px solid #DCE0E0; margin:0; padding:20px; position:relative; }
.panel_header{ border-bottom:1px solid #DCE0E0; color:#484848; font-size:16px; padding-bottom:12px; padding-top:12px; }
.panel_header .hair{ float: right; position: relative; top: -7px; }
.panel_footer{ text-align: right; }
.panel_footer .tail{ float: left; padding-top: 7px; }
.panel_header:first-child, .panel_body:first-child, ul.panel_body > li:first-child, ol.panel_body > li:first-child, .panel_footer:first-child{ border-top:0; }
.panel_dark, .panel_header{ background-color:#EDEFED; }
.panel_body{ position: relative; }
.panel_light{ background-color:#FFF; }
.panel_body > *:first-child{ margin-top:0; }
.panel_body > *:last-child{ margin-bottom:0; }
.panel_header+.panel_body, .panel_body+.panel_body, ul.panel_body > li+.panel_body, ol.panel_body > li+.panel_body, .panel_footer+.panel_body{ border-top: none; }
.panel_body+.panel_body::before{ border-top: 1px solid #DCE0E0; border-color: rgba(220,224,224,.5); content: ''; height: 1px; left: 20px; position: absolute; right: 20px; top: -1px; }
.panel_close, .alert_close, .modal_close{ background-color:transparent; background-image:url(../images/icons-2017-05-16.png); background-position:-63px -189px; background-repeat:no-repeat; background-size:210px 210px; border:none; color:#BBB; cursor:pointer; float:right; font-size:2em; font-style:normal; font-weight:normal; height:21px; line-height:.7; margin:0; opacity:.8; padding:0; vertical-align:middle; width:21px; }
.panel_overlay_top_left, .panel_overlay_top_right, .panel_overlay_bottom_left, .panel_overlay_bottom_right{ position: absolute; }
.panel_overlay_bottom_left{ bottom: 15px; left: 15px; }
.panel_overlay_bottom_right{ bottom: 15px; right: 15px; }
.panel_overlay_top_left{ left: 15px; top: 15px; }
.panel_overlay_label{ background-color: #2D2D2D; background-color: rgba(45,45,45,.9); color: #FFF; padding: 10px; }
.panel_overlay_listing_label{ bottom: 30px; left: 0; padding: 7px 10px; }
.panel_image{ position: relative; }
.panel_quote{ margin-left: 10px; position: relative; }
.panel_quote::before{ border: 10px solid transparent; border-left: 0; border-right-color: #DCE0E0; content: ''; display: inline-block; left: -10px; position: absolute; right: auto; top: 15px; }
.panel_quote::after{ border: 9px solid transparent; border-left: 0; border-right-color: #FFF; content: ''; display: inline-block; left: -9px; position: absolute; right: auto; top: 16px; }
.panel_quote_right{ margin-left: 0; margin-right: 10px; position: relative; }
.panel_quote_right::before{ border: 10px solid transparent; border-right: 0; border-left-color: #DCE0E0; content: ''; display: inline-block; left: auto; position: absolute; right: -10px; top: 15px; }
.panel_quote_right::after{ border: 9px solid transparent; border-right: 0; border-left-color: #FFF; content: ''; display: inline-block; left: auto; position: absolute; right: -9px; top: 16px; }
.panel_quote_flush{ margin-left: 0; }
.panel_quote_flush.panel_quote_right{ margin-right: 0; }
.modal-close-f7{ background-color:transparent; border:none; color:#222222; cursor:pointer; float:right; font-size:2em; font-style:normal; font-weight:normal; height:21px; line-height:.7; margin:0; opacity:.8; padding:0; vertical-align:middle; width:21px; }
.modal-close-f7 .f7-icons{ font-size: 21px; vertical-align: top; }
.panel_close:hover, .alert_close:hover, .modal_close:hover{ opacity:1; }
.show_lg{ display: none; }


/* Corrections for the panel classes so they align with the design standards  */
.panel-24{ background-color:#FFF; border-radius:0; }
.panel-header-24, .panel-body-24, ul.panel-body-24 > li, ol.panel-body-24 > li, .panel-footer-24{margin:0; padding-left :40px; padding-right :40px; padding-top :40px; position:relative; }
.panel-header-24{ color: var(--black); font-size:28px; font-weight:600; line-height: 16px; padding-bottom:0px; padding-top:40px; padding-left: 40px;}
.panel-header-24 .hair{ float: right; position: relative; top: -7px; }
.panel-sub-header-24{ color: var(--black); font-size:16px; font-weight: 300; font-style: normal; margin-top: 17px; }
.panel-footer-24{ text-align: right; padding-bottom: 40px; }
.panel-footer-24 .tail{ float: left; padding-top: 7px; }
.panel-header-24:first-child, .panel-body-24:first-child, ul.panel-body-24 > li:first-child, ol.panel-body-24 > li:first-child, .panel-footer-24:first-child{ border-top:0; }
.panel-body-24{ position: relative; }
.panel-light-24{ background-color:#FFF; }
.panel-body-24 > *:first-child{ margin-top:0; }
.panel-body-24 > *:last-child{ margin-bottom:0; }
.panel-header-24+.panel-body-24, .panel-body-24+.panel-body-24, ul.panel-body-24 > li+.panel-body-24, ol.panel-body-24 > li+.panel-body-24, .panel-footer-24+.panel-body-24{ border-top: none; }
.panel-body-24+.panel-body-24::before{ border-top: 1px solid #DCE0E0; border-color: rgba(220,224,224,.5); content: ''; height: 1px; left: 20px; position: absolute; right: 20px; top: -1px; }
.panel-close-24, .alert_close, .modal_close{ background-color:transparent; background-image:url(../images/icons-2017-05-16.png); background-position:-63px -189px; background-repeat:no-repeat; background-size:210px 210px; border:none; color:#BBB; cursor:pointer; float:right; font-size:2em; font-style:normal; font-weight:normal; height:21px; line-height:.7; margin:0; opacity:.8; padding:0; vertical-align:middle; width:21px; }
.panel-overlay-top-left-24, .panel-overlay-top-right-24, .panel-overlay-bottom-left-24, .panel-overlay-bottom-right-24{ position: absolute; }
.panel-overlay-bottom-left-24{ bottom: 15px; left: 15px; }
.panel-overlay-bottom-right-24{ bottom: 15px; right: 15px; }
.panel-overlay-top-left-24{ left: 15px; top: 15px; }
.panel-overlay-label-24{ background-color: #2D2D2D; background-color: rgba(45,45,45,.9); color: #FFF; padding: 10px; }
.panel-overlay-listing-label-24{ bottom: 30px; left: 0; padding: 7px 10px; }
.panel-image-24{ position: relative; }
.panel-quote-24{ margin-left: 10px; position: relative; }
.panel-quote-24::before{ border: 10px solid transparent; border-left: 0; border-right-color: #DCE0E0; content: ''; display: inline-block; left: -10px; position: absolute; right: auto; top: 15px; }
.panel-quote-24::after{ border: 9px solid transparent; border-left: 0; border-right-color: #FFF; content: ''; display: inline-block; left: -9px; position: absolute; right: auto; top: 16px; }
.panel-quote-right-24{ margin-left: 0; margin-right: 10px; position: relative; }
.panel-quote-right-24::before{ border: 10px solid transparent; border-right: 0; border-left-color: #DCE0E0; content: ''; display: inline-block; left: auto; position: absolute; right: -10px; top: 15px; }
.panel-quote-right-24::after{ border: 9px solid transparent; border-right: 0; border-left-color: #FFF; content: ''; display: inline-block; left: auto; position: absolute; right: -9px; top: 16px; }
.panel-quote-flush-24{ margin-left: 0; }
.panel-quote-flush-24.panel-quote-right-24{ margin-right: 0; }
.panel-close-24:hover, .alert_close:hover, .modal_close:hover{ opacity:1; }

@media only screen and (max-width:743px){
	.modal_table, .modal_cell{ display:block; }
	.modal_cell{ padding:0; }
	.modal_content{ border-radius:0; height: 100%; max-width:none; min-width:0; overflow: auto; }
	.panel_header{ font-size:15px; }
	.panel-header-24{ font-size:15px; }
	.modal_header{ text-align:center; }
	.show_sm{ display:block !important; }
	.hide_sm{ display: none !important; }
}
@media (min-width:1128px){
	.show_lg{ display: block; }
	.hide_lg{ display: none; }
}

/*---- Input Uniques	----*/
.btn{ background:white; border:1px solid #C4C4C4; border-radius:4px; color:#484848; cursor:pointer; display:inline-block; font-size:14px; font-weight:bold; line-height:1.43; margin-bottom:0; padding:7px 21px; text-align:center; user-select:none; vertical-align:middle; white-space:nowrap; }
.btn:hover{ border-color: #AAA; color: #484848; }
.btn.is-disabled{ background-color: #FAFAFD; color: #8898AA; cursor: default; pointer-events: none; }
.btn.icon{ height: 36px; padding: 0; width: 36px; }
.btn_large{ font-size:16px; padding:9px 27px; }
.btn_small{ padding: 3px 9px; }
.btn_link{ background: transparent; border: 0; color: #0073BD; display: inline; font-weight: normal; margin: 0; padding: 0; vertical-align: bottom; }
.btn_round_end{ border-radius: 1000px; }
.btn_shadow{ box-shadow: 0px 4px 10px rgba(0, 0, 0, .25); }
.btn_primary{ background-color:#0073BD; border-color:#0073BD; color:#FFF; }
.btn_primary:hover{ background-color: #0085DB; border-color: #0085DB; color: #FFF; }
.btn_attention{ background-color:#0ABAB5; border-color:#0ABAB5; color:#FFF; }
.btn_attention:hover, .btn_attention:disabled{ background-color:#08A09C; border-color:#08A09C; color:#FFF; }
.btn_attention:disabled{ cursor: default; opacity: 0.5; }
.btn_light_gray{ background-color: #F0F0F0; border-color: #F0F0F0; color: #000; }
.btn_brand_blue{ background-color: #05AAC7; border-color: #0085DB; color: #FFF;}
.btn_gray{ background-color: #EAEAEA; border-color: #EAEAEA; color: #484848; }
.btn_gray:hover{ background-color: #DCDCDC; border-color: #DCDCDC; color: #1C1C1C; }
.btn_block{ display:block; white-space:normal; width:100%; }
.btn_black{ background-color: #000; border-color: #000; color: #FFF; }
.btn_black.is-disabled{ background-color: #000; box-shadow: none; opacity: 0.2; }
.btn_green{ background-color: green; }
.btn_red{ background-color: red; border-color: red; color: #FFF; }
.btn_red:hover{ background-color: rgb(184,0,0); border-color: rgb(184,0,0); color: #FFF; }

.button_as_link{ background:none; border:0; color:#0073BD; cursor:pointer; display:inline; font:inherit; padding:0; text-decoration:none; }
.icon-light-gray{ color: #BBB; }
.icon{ font-style:normal; font-weight:normal; line-height: 1; }
.btn .icon:first-child{ margin-right:3px; }
.btn_large .icon:first-child{ margin-right:4px; }
.icon.btn{ line-height: inherit; }
.icon_btn.btn_large{ padding-left:51px; position:relative; }
.icon_btn.btn_large .icon{ font-size:24px; left:20px; position:absolute; top:6px; }
.icon::before{ line-height:1; }
.icon-size-2{ font-size: 2.4em; }
.icon-size-4{ font-size: 4.8em; }
input, select, textarea{ background-color:#FFF; border:1px solid #AAA; border-radius:2px; color:#484848; display:block; padding:8px 10px; transition:border-color .2s; width:100%; border-radius: 6px; }
select {
	appearance: none;
    background-image: url("../images/icons/chevron_down_black_small.svg");
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 18px;
	padding-right: 25px !important;
}
.decorative_input{ box-sizing:border-box; display:block; font-size:14px; height:40px; padding:10px 35px 10px 10px; width:100% !important; }
textarea{ line-height: inherit; padding-bottom: 10px; padding-top: 10px; resize: vertical; }
textarea.decorative_input{ height: 100px; resize: none; }
@media only screen and (max-width: 743px){
	input[type="text"], input[type="email"], input[type="date"], input[type="password"], textarea, select{ font-size: 16px; }
	.btn{ font-size: 13px; padding: 7px 21px; }
	.btn_large{ font-size: 15px; padding: 9px 27px; }
}

/*----Header Classes----*/
.h1, .h2, .h3, .h4, .h5, .h6{ line-height: 1.1; text-rendering: optimizeLegibility; }
.h1{ font-size: 44px; font-weight: normal; }
.h2{ font-size: 32px; font-weight: normal; }
.h3{ font-size: 24px; font-weight: normal; }
.h6{ font-size: 14px; font-weight: bold; color: #767676; }
@media only screen and (max-width: 743px){
	.h1{ font-size: 41px; }
	.h2{ font-size: 30px; }
	.h6{ font-size: 13px; }
}

/*----Text----*/
.text-base{ font-size: 14px; }
.text-branding{ text-transform: uppercase; }
.text-center{ text-align: center; }
.text-lead{ font-size: 16px; }
.text-left{ text-align: left; }
.text-emphasis-gray{ color: #6B6B6B; }
.text-light-gray{ color: #BBB; }
.text-medium-gray{ color: #9B9B9B; }
.text-right{ text-align: right; }
.text-truncate{ overflow: hidden; -o-text-overflow: ellipsis; text-overflow: ellipsis; white-space: nowrap; }
.text-muted{ color: #767676; }
.text-normal, a.text-normal, a.text-normal:hover, a.text-normal:focus{ color: inherit; }
.link-reset{ color: inherit; }
.text-wrap{ word-wrap: break-word; }
.text-small{ font-size: 15px; line-height: 18px; }
.text-contrast{ color: #FFF; }
.rule{ border-bottom: 1px solid #DBDBDB; }
@media only screen and (max-width: 743px){
	.text-center-sm{ text-align: center; }
}
@media (min-width: 52rem){
    @media (max-width: 71.99rem){
        .md-text-left{ text-align: left; }
    }
}
@media (min-width: 72rem){
    .lg-text-left{ text-align: left; }
}

/*----Label----*/
.label-inline{ display: inline-block; margin-right: 10px; }

/*----Spaces----*/
.col-1, .col-sm-1, .col-md-1, .col-lg-1, .col-2, .col-sm-2, .col-md-2, .col-lg-2, .col-3, .col-sm-3, .col-md-3, .col-lg-3, .col-4, .col-sm-4, .col-md-4, .col-lg-4, .col-5, .col-sm-5, .col-md-5, .col-lg-5, .col-6, .col-sm-6, .col-md-6, .col-lg-6, .col-7, .col-sm-7, .col-md-7, .col-lg-7, .col-8, .col-sm-8, .col-md-8, .col-lg-8, .col-9, .col-sm-9, .col-md-9, .col-lg-9, .col-10, .col-sm-10, .col-md-10, .col-lg-10, .col-11, .col-sm-11, .col-md-11, .col-lg-11, .col-12, .col-sm-12, .col-md-12, .col-lg-12{ min-height: 1px; padding-left: 12px; padding-right: 12px; position: relative; }
.col-1{ float: left; width: 8.333333333333%;}
.col-2{ float: left; width: 16.66667%; }
.col-3{ float: left; width: 25%; }
.col-4{ float: left; width: 33.333333333333%; }
.col-5{ float: left; width: 41.666666666667%; }
.col-6{ float: left; width: 50%; }
.col-7{ float: left; width: 58.333333333333%; }
.col-8{ float: left; width: 66.666666666667%; }
.col-9{ float: left; width: 75%; }
.col-10{ float: left; width: 83.333333333333%; }
.col-11{ float: left; width: 91.666666666667%; }
.col-12{ float: left; width: 100%; }
.col-sm-1{ float: left; width: 8.333333333333%;}
.col-sm-2{ float: left; width: 16.66667%; }
.col-sm-3{ float: left; width: 25%; }
.col-sm-4{ float: left; width: 33.333333333333%; }
.col-sm-5{ float: left; width: 41.666666666667%; }
.col-sm-6{ float: left; width: 50%; }
.col-sm-7{ float: left; width: 58.333333333333%; }
.col-sm-8{ float: left; width: 66.666666666667%; }
.col-sm-9{ float: left; width: 75%; }
.col-sm-10{ float: left; width: 83.333333333333%; }
.col-sm-11{ float: left; width: 91.666666666667%; }
.col-sm-12{ float: left; width: 100%; }
.col-center{ float: none; margin-left: auto; margin-right: auto; }
.col-top, .col-middle, .col-bottom{ display: table-cell; float: none; }
.col-middle{ vertical-align: middle; }
.col-offset-1{ margin-left: 8.33333%; }
.img-responsive{ height: auto; width: 100%; }
.img-round, .media-round{ border: 2px solid #FFF; border-radius: 50%; }
.media::before, .media::after{ content: ''; display: table; }
.media::after{ clear: both; }
.media-photo{ backface-visibility: hidden; background-color: #BBB; display: inline-block; overflow: hidden; position: relative; vertical-align: bottom; }
.media-photo-badge{ display: inline-block; position: relative; }
.media-photo-block{ display: block; }
.media-cover, .media-cover-dark::after{ bottom: 0; left: 0; position: absolute; right: 0; top: 0; }
.media-cover-dark::after{ background: #000; content: ' '; opacity: .3; }
.page-container, .page-container-responsive{ margin-left: auto; margin-right: auto; padding-left: 12px; padding-right: 12px; }
.page-container{ width: 1080px; }
.page-container-responsive{ width: auto; }
.page-container::before, .page-container-responsive::before, .page-container::after, .page-container-responsive::after{ content: ''; display: table; }
.page-container::after, .page-container-responsive::after{ clear: both; }
.pull-left{ float: left; }
.pull-right{ float: right; }
.row{ margin-left: -12px; margin-right: -12px; }
.row::before, .row::after{ content: ''; display: table; }
.row::after{ clear: both; }
.row-condensed{ margin-left: -6px; margin-right: -6px; }
.row-condensed .col-sm-1, .row-condensed .col-sm-3, .row-condensed .col-lg-3, .row-condensed .col-sm-4, .row-condensed .col-md-5, .row-condensed .col-md-6, .row-condensed .col-md-7, .row-condensed .col-sm-9, .row-condensed .col-lg-9, .row-condensed .col-12, .row-condensed .col-md-12, .row-condensed .col-sm-12{ padding-left: 6px; padding-right: 6px; }
.row-table{ display: table; table-layout: fixed; }
.row-full-height{ height: 100%; }
.row.row-table{ width: 100%; width: calc(100% + 24px); }
.show-inline-block{ display: inline-block; }
.space-1{ margin-bottom: 6px; }
.space-2{ margin-bottom: 12px; }
.space-3{ margin-bottom: 18px; }
.space-4{ margin-bottom: 24px; }
.space-5{ margin-bottom: 30px; }
.space-6{ margin-bottom: 36px; }
.space-7{ margin-bottom: 42px; }
.space-8{ margin-bottom: 48px; }
.space-9{ margin-bottom: 54px; }
.space-13{ margin-bottom: 78px; }
.space-top-1{ margin-top: 6px; }
.space-top-2{ margin-top: 12px; }
.space-top-3{ margin-top: 18px; }
.space-top-4{ margin-top: 24px;}
.space-top-6{ margin-top: 36px; }
.space-top-7{ margin-top: 42px; }
.space-top-8{ margin-top: 48px; }
.space-top-9{ margin-top: 54px; }
.space-top-10{ margin-top: 60px; }
.va-container{ display: table; position: relative; }
.va-container-h{ width: 100%; }
.va-container-v{ height: 100%; }
.va-top, .va-middle, .va-bottom{ display: table-cell; }
.va-middle{ vertical-align: middle; }

@media (max-width: 767px){
	.space-xs-3{ margin-bottom: 24px; }
}
@media only screen and (max-width: 743px){
	.page-container-responsive .row-table, .page-container-responsive .col-top, .page-container-responsive .col-middle, .page-container-responsive .col-bottom{ display: block; }
	.page-container-responsive .col-2, .page-container-responsive .col-4, .page-container-responsive .col-6, .page-container-responsive .col-9, .page-container-responsive .col-12{ float: none; margin-bottom: 24px; width: auto; }
	.page-container-responsive .col-offset-1{ margin-left: 0; }
	.page-container-responsive .col-4:last-child, .page-container-responsive .col-9:last-child{ margin-bottom: 0; }
	.space-sm-2{ margin-bottom: 12px; }
	.space-sm-4{ margin-bottom: 24px; }
}
@media only screen and (min-width: 744px){
	.page-container, .page-container-responsive{ padding-left: 24px; padding-right: 24px; }
	.page-container-responsive{ width: 696px; }
	.col-md-1{ float: left; width: 8.333333333333%;}
	.col-md-2{ float: left; width: 16.66667%; }
	.col-md-3{ float: left; width: 25%; }
	.col-md-4{ float: left; width: 33.333333333333%; }
	.col-md-push-5{ left: 41.6667%; }
	.col-md-5{ float: left; width: 41.6667%; }
	.col-md-6{ float: left; width: 50%; }
	.col-md-pull-7{ right: 58.3333%; }
	.col-md-7{ float: left; width: 58.333333333333%; }
	.col-md-8{ float: left; width: 66.666666666667%; }
	.col-md-9{ float: left; width: 75%; }
	.col-md-10{ float: left; width: 83.333333333333%; }
	.col-md-11{ float: left; width: 91.666666666667%; }
	.col-md-12{ float: left; width: 100%; }
}

@media only screen and (min-width: 1128px){
	.page-container-responsive{ width: 1080px; }
	.col-lg-1{ float: left; width: 8.333333333333%;}
	.col-lg-2{ float: left; width: 16.666666666667%; }
	.col-lg-3{ float: left; width: 25%; }
	.col-lg-4{ float: left; width: 33.333333333333%; }
	.col-lg-5{ float: left; width: 41.6667%; }
	.col-lg-6{ float: left; width: 50%; }
	.col-lg-pull-6{ right: 50%; }
	.col-lg-push-6{ left: 50%; }
	.col-lg-7{ float: left; width: 58.333333333333%; }
	.col-lg-8{ float: left; width: 66.666666666667%; }
	.col-lg-9{ float: left; width: 75%; }
	.col-lg-10{ float: left; width: 83.333333333333%; }
	.col-lg-11{ float: left; width: 91.666666666667%; }
	.col-lg-12{ float: left; width: 100%; }
}

/*----Lists----*/
.sidenav{ user-select: none; }
.sidenav::before, .sidenav::after{ content: ''; display: table; }
.sidenav::after{ clear: both; }
.list-unstyled, .list-layout, .subnav-list, .sidenav-list{ list-style: none; padding-left: 0; }
.list-layout, .subnav-list, .sidenav-list{ margin-bottom: 0; }
.sidenav-text, .sidenav-item{ color: #767676; display: block; font-size: 16px; padding: 6px 0; }
.sidenav-item[aria-selected="true"]{ color: #484848; font-weight: bold; text-decoration: none; }
.list-inline{ display: table-cell; margin-left: 5px; margin-right: 5px; }
.input-tag-list{ background-color: #FFF; border: 0; display: block; margin: 0; padding: 6px; padding-bottom: 0; position: relative; width: 100%; }
.clearfix::before, .clearfix::after{ content: ''; display: table; }
.clearfix::after{ clear: both; }
.list-inline li{ display: inline-block; padding: 0 5px; }
.input-tag-list li{ padding: 0 6px; }
.input-tag-list .input-list-item{ height: 34px; width: 100%; }
.input-tag-list input{ border: 0; font-weight: inherit; line-height: 28px; margin-bottom: 6px; outline-width: 0; padding-bottom: 0; padding-left: 0; padding-top: 0; }
@media only screen and (max-width: 743px){
	.sidenav-text, .sidenav-item{ font-size: 15px; }
}

/*----Notification Area----*/
.notification-area{ background-color: rgba(0,115,189,.2); height: auto; opacity: 1; padding: 10px 5px; text-align: center; transition: height .4s, opacity .4s; }
.notification-area.iserror{ background-color: rgba(255,0,0,.2); }
.notification-area:empty{ height: 0; opacity: 0; padding: 0; }

/*----Horizontal Bar Chart----*/
.horizontal-bar-chart{ height: 135px; position: relative; }
.private-flex{ display: flex; flex-basis: auto; flex-grow: 1; flex-shrink: 1; max-width: 100%; width: 100%; }
.dSszsv{ align-items: stretch; display: flex; justify-content: flex-start; -webkit-box-pack: start; }
.horizontal-bar-chart .horizontal-bar{ bottom: 0; left: 0; position: absolute; z-index: 0; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage{ align-items: stretch; display: flex; flex-direction: column; padding-right: 2px; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage .horizontal-stage-amount{ height: 36px; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage .horizontal-stage-amount span{ background-color: #FFF; color: #484848; display: inline-block; font-size: 20px; line-height: 1.5; margin-left: 4px; margin-right: 4px; position: relative; z-index: 4; }
.private-button{ border-radius: .1875rem; border-style: solid; border-width: 1px; cursor: pointer; display: inline-block; font-smoothing: auto; font-weight: 400; max-width: 100%; overflow: hidden; text-align: center; text-overflow: ellipsis; text-shadow: 0 0 1px transparent; transition: all .15s ease-out; user-select: none; vertical-align: middle; white-space: nowrap; }
.private-button--default{ font-size: .875rem; font-weight: 500; line-height: .875rem; padding: .75rem 1.5rem; }
.private-button--unstyled{ background: none; border: 0; color: inherit; display: inline; font: inherit; line-height: inherit; margin: 0; outline-offset: 0; padding: 0; text-align: inherit; text-transform: inherit; user-select: inherit; }
.private-button__link{ background-color: transparent; border: 0; border-color: transparent; color: #0073BD; display: inline; font-size: inherit; line-height: inherit; overflow: visible; padding: 0; text-align: left; text-decoration: none; text-shadow: 0 0 1px transparent; transition: all .15s ease-out; user-select: inherit; vertical-align: inherit; white-space: normal; -webkit-font-smoothing: antialiased; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage .bar{ border-radius: 0; height: 75px; min-width: 5px; width: 100%; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage:first-child .bar{ border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage:last-child .bar{ border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage .horizontal-stage-label{ color: #484848; height: 24px; line-height: 24px; position: relative; vertical-align: baseline; word-break: break-all; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage .horizontal-stage-label button{ color: #484848; font-weight: 700; margin-top: 8px; text-transform: uppercase; }
.horizontal-stage-percent{ margin-left: 4px; }
.horizontal-bar-chart .horizontal-bar .horizontal-stage .horizontal-stage-label .horizontal-stage-percent{ color: #232757; }

/*----TinyMCE override for the disabled state----*/
.tox .tox-tbtn--disabled svg path { fill: #9da6a5 !important; }
.tox-swatch.tox-swatches__picker-btn { 
	display: none !important; 
  }