/*-------- Slider for zooming maps----- */
.bg-transparent{background:transparent;border-color:#FFFFFF!important;}
.ui-slider{position:relative;text-align:left;}
.ui-slider-horizontal{height:.8rem;}
.ui-widget{font-size:1em;}
.ui-widget-content{background:#FFF;border:1px solid #DDD;color:#333;}
.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px;}
.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px;}
.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px;}
.ui-widget.ui-widget-content{border:1px solid #C5C5C5;}
.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default,.ui-button,html .ui-button.ui-state-disabled:hover,html .ui-button.ui-state-disabled:active{background:#F6F6F6;border:1px solid #C5C5C5;color:#454545;font-weight:normal;}
.ui-slider .ui-slider-range{background:transparent;background-position:0 0;border:0;display:block;font-size:.7rem;position:absolute;z-index:1;}
.ui-slider-horizontal .ui-slider-range{height:100%;top:0;}
.ui-slider-horizontal .ui-slider-range-min{left:0;}

#base-map-zoom-slider-container{height:44px;display:flex;flex-wrap:nowrap;align-items:center;justify-content:space-between;padding:10px 16px;border-radius:6px;border:1px solid #D4D4D4;background:#FFF;box-shadow:0px 0px 5px rgba(0,0,0,0.30);}
#base-map-zoom-slider-container .base-map-zoom-slider{position:relative;cursor:pointer;width:120px;height:20px;background:transparent;border-color:transparent;margin:0 10px;align-items:center;}
#base-map-zoom-slider-container .base-map-zoom-slider::before{content:'';position:absolute;top:50%;left:0;transform:translateY(-50%);width:100%;height:6px;background-color:#D4D4D4;border-radius:3px;z-index:1;}
#base-map-zoom-slider-container .base-map-zoom-slider .ui-slider-handle{cursor:pointer;position:absolute;z-index:3;background-color:var(--primary-2);border-radius:50%;height:20px;width:20px;outline:none;border:none;top:50%!important;transform:translateY(-50%)!important;margin-left:-10px!important;}
#base-map-zoom-slider-container .base-map-zoom-slider .ui-slider-range{background:transparent!important;height:6px!important;top:50%!important;transform:translateY(-50%);border:none!important;}

.map-slider-zoom-btn{width:24px;height:24px;}
.map-slider-zoom-btn>div{width:100%;height:100%;border-color:#FFFFFF!important;}
.map-slider-zoom-btn>div:nth-child(1){display:block;}
.map-slider-zoom-btn>div:nth-child(2){display:none;}
.map-slider-zoom-btn:active div:nth-child(1){display:none;}
.map-slider-zoom-btn:active div:nth-child(2){display:block;}

@media(max-width:39.99rem){
    #base-map-zoom-slider-container{height:65px;}
    .map-slider-zoom-btn{width:45px;height:45px;}
}

.zoom-in-gray{background:url(../images/zoom-in-gray.svg) no-repeat;}
.zoom-in-green{background:url(../images/zoom-in-green.svg) no-repeat;}
.zoom-out-gray{background:url(../images/zoom-out-gray.svg) no-repeat;}
.zoom-out-green{background:url(../images/zoom-out-green.svg) no-repeat;}

.seat-svg:not(.unavailable):not(.selected){cursor:pointer;}
.seat-svg.active,.seat-svg.active svg>* {fill:var(--primary-2)!important;opacity:40;}
.seat-svg.selected{opacity:.5;}
.seat-svg.selected::after{content:"";position:absolute;top:-0.5px;left:-0.5px;width:100%;height:100%;border:0.5px solid black;pointer-events:none;}
.seat-svg.unavailable svg>*{background-color:var(--darker-gray);fill:var(--darker-gray)!important;}
